* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, Arial, sans-serif;
  background-color: #0a0352;
}
header,
h1,
#wrapper {
  margin-top: 0;
}
#wrapper {
  background-color: #18a3b6;
  width: 95%;
  margin: auto;
  color: #0e3e96;
}
#wrapper {
  background-color: #8eb3b3; /* #fff */
  background-image: linear-gradient(to bottom, #ffffff, #087588);
}
h1,
h2 {
  color: #220aa8;
}

header {
  background-color: #081374;
  background-image: url(gallery/photo2.jpg);
  background-position: 0em;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
  font-size: 300%;
  padding: 5% 0;
  text-shadow: 3px 3px 3px #5d32c2;
}
nav,
main,
aside {
  padding: 0 1em;
}
img {
  width: 45%;
  height: auto;
}
nav ul {
  list-style-type: none;
  font-size: 1.2em;
  padding-left: 0;
}
nav a {
  text-decoration: none;
}
nav a:link {
  color: #0300a0;
}
nav a:visited {
  color: #2c1961;
}
nav a:hover {
  color: #a52a2a; /* c#a52a2a */
}
footer {
  text-align: center;
  font-size: 80%;
  font-style: italic;
  color: #19066b;
  padding: 2.5%;
}
#demo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}
nav {
  flex: 1;
}
main {
  flex: 7;
}
aside {
  flex: 2;
}
@media only screen and (max-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
  }
  #wrapper {
    width: auto;
    margin: 0;
  }
  h1 {
    font-size: 200%;
  }
  #demo {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  nav li {
    padding: 0 0.5em;
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 768px) {
  nav {
    order: 1;
  }
  nav ul {
    flex-wrap: wrap;
  }
}
header,
main,
aside,
nav,
footer,
figure,
figcaption {
  display: block;
}
